@import "tailwindcss";

/* Theme Configuration */
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, light;
}

/* Font Configuration */
@theme {
  --font-sans: "IRANSans", sans-serif;
}

/* Global Styles */
* {
  scrollbar-width: none;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  display: none;
}

/* Wallet Adapter Styles */
.wallet-adapter-button-trigger {
  background-color: unset !important;
}

